* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container-form {
  background-color:#B2E7E8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.title-form {
  color: #B2E7E8;
  text-align: center;
  background-color:  #304D63;
  padding: 7px;
  font-size: xx-large;
  width: 100%;
}

.input-container {
  margin-left: 9px;  
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  border: 3px solid #304D63;
}

.label-input {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: black;
  font-weight: 700;
}

.text-input {
  font-style: italic;
  font-weight: bold;
}

.button-form {
  margin: 20px 0px 20px 0px;
  border: none;
  padding: 8px;
  color: black;
  font-weight: 900;
  border: 3px double  #304D63;
  border-radius: 10px;
  opacity: 0.9;
  width: 100px;
}

.button-form:hover {
  cursor: pointer;
  border: 3px solid blue;
  opacity: 1;
}

.link-form {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 5px;
  border: 3px double  #304D63;
  opacity: 0.8;
  border-radius: 10px;
  background-color: white;
  width: 100px;
}

.link-form:hover {
  cursor: pointer;
  border: 3px solid blue;
  opacity: 1;
}

.label-textarea {
  margin-top: 25px;
  font-weight: 700;
  font-style: italic;  
}

.textarea-form {
  margin-top: 5px;
  border: none;
  border-radius: 1px;
  border: 2px solid  #304D63;
  font-weight: 500;  
}